.feature-card {
  @media (min-width: 768px) {
    transform: translate3d(-60px, 0, 0);
  }

  .feature__meta {
    max-width: calc(100%);
  }
  @media (max-width: 380px) {
    height: 400px;
  }
}

.feature__visualization {
  .js-text {
    fill: #a3a3a3;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .connector {
    stroke: #a3a3a3;
    transition: all 0.3s ease-in-out;
  }

  .client__indicator,
  .server__indicator {
    fill: #1e1e1e;
    transition: all 0.1s ease-in-out;
  }

  .client-text,
  .server-text {
    fill: #565656;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .js__glow {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .js__bg,
  .client__bg,
  .client__glow,
  .server__bg,
  .server__glow {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &.active {
    .connector {
      stroke: #ffe358;
      transition-delay: 0.1s;
    }

    .client__indicator,
    .server__indicator {
      fill: #fdefab;
      transition-delay: 0.3s;
    }

    .js-text {
      fill: #171717;
    }

    .js__glow,
    .js__bg,
    .client__bg,
    .client__glow,
    .server__bg,
    .server__glow {
      opacity: 1;
    }

    .client__glow,
    .server__glow,
    .client__bg,
    .server__bg {
      transition-delay: 0.3s;
    }

    .client-text,
    .server-text {
      transition-delay: 0.3s;
      fill: #fafafa;
    }
  }
}
