.feature-card {
  min-height: 370px;

  @media (min-width: 768px) {
    transform: translate3d(60px, 0, 0);
  }
}

.feature__visualization {
  .left-lines {
    position: absolute;
    top: 60px;
    left: unset;
    right: 50%;

    @media (min-width: 455px) {
      left: 0;
      right: unset;
    }

    @media (min-width: 768px) {
      left: unset;
      right: 50%;
    }

    @media (min-width: 900px) {
      left: 0;
      right: unset;
    }

    @media (min-width: 1200px) {
      left: unset;
      right: 50%;
    }
  }

  .right-lines {
    position: absolute;
    top: 71px;
    right: unset;
    left: 50%;

    @media (min-width: 455px) {
      right: 0;
      left: unset;
    }

    @media (min-width: 768px) {
      right: unset;
      left: 50%;
    }

    @media (min-width: 900px) {
      right: 0;
      left: unset;
    }

    @media (min-width: 1200px) {
      right: unset;
      left: 50%;
    }
  }

  .bolt {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    .bolt__glow {
      transition: opacity 0.3s ease;
      will-change: opacity;
      opacity: 0.6;
    }

    .bolt__color {
      opacity: 0.03;
    }

    .bolt__edge {
      opacity: 0.1;
    }

    .bolt__highlight {
      opacity: 0;
    }

    &.active {
      .bolt__color {
        animation: bolt-color-entrance 0.5s ease forwards;
      }

      .bolt__edge {
        animation: bolt-edge-entrance 0.5s ease forwards;
      }

      .bolt__glow {
        opacity: 0.7;
        transition: opacity 0.1s ease;
      }

      .bolt__highlight {
        opacity: 0.6;
        transition: opacity 0.1s ease;
        transition-delay: 0.5s;
      }
    }
  }
}

@keyframes bolt-edge-entrance {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.6;
  }
  31% {
    opacity: 0.01;
  }
  35% {
    opacity: 0.01;
  }
  36% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.3;
  }
  82% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bolt-color-entrance {
  0% {
    opacity: 0.03;
  }
  2% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.4;
  }
  31% {
    opacity: 0.01;
  }
  35% {
    opacity: 0.01;
  }
  36% {
    opacity: 0.45;
  }
  80% {
    opacity: 0.45;
  }
  80% {
    opacity: 0.3;
  }
  82% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}