:root {
  --astro-c-white: #ffffff;
  --astro-c-black: #000000;
  --astro-c-neutral: var(--astro-c-black);
  --astro-c-neutral-inverse: var(--astro-c-white);
}
:root {
  --astro-nav-height: 64px;
  --astro-nav-bg-color: var(--astro-c-bg);
  --astro-nav-screen-bg-color: var(--astro-c-bg);
  --astro-nav-logo-height: 24px;
}
.dark {
  --astro-c-neutral: var(--astro-c-white);
  --astro-c-neutral-inverse: var(--astro-c-black);
}

:root {
  --astro-c-gray-1: #dddde3;
  --astro-c-gray-2: #e4e4e9;
  --astro-c-gray-3: #ebebef;
  --astro-c-gray-soft: rgba(142, 150, 170, 0.14);
  --astro-c-indigo-1: #a8b1ff;
  --astro-c-indigo-2: #3a5ccc;
  --astro-c-indigo-3: #5672cd;
  --astro-c-indigo-soft: rgba(100, 108, 255, 0.14);
  --astro-c-purple-1: #6f42c1;
  --astro-c-purple-2: #7e4cc9;
  --astro-c-purple-3: #8e5cd9;
  --astro-c-purple-soft: rgba(159, 122, 234, 0.14);
  --astro-c-green-1: #18794e;
  --astro-c-green-2: #299764;
  --astro-c-green-3: #30a46c;
  --astro-c-green-soft: rgba(16, 185, 129, 0.14);
  --astro-c-yellow-1: #915930;
  --astro-c-yellow-2: #946300;
  --astro-c-yellow-3: #9f6a00;
  --astro-c-yellow-soft: rgba(234, 179, 8, 0.14);
  --astro-c-red-1: #b8272c;
  --astro-c-red-2: #d5393e;
  --astro-c-red-3: #e0575b;
  --astro-c-red-soft: rgba(244, 63, 94, 0.14);
  --astro-c-sponsor: #db2777;
}

.dark {
  --astro-c-gray-1: #515c67;
  --astro-c-gray-2: #414853;
  --astro-c-gray-3: #32363f;
  --astro-c-gray-soft: rgba(101, 117, 133, 0.16);
  --astro-c-indigo-1: #a8b1ff;
  --astro-c-indigo-2: #5c73e7;
  --astro-c-indigo-3: #3e63dd;
  --astro-c-indigo-soft: rgba(100, 108, 255, 0.16);
  --astro-c-purple-1: #c8abfa;
  --astro-c-purple-2: #a879e6;
  --astro-c-purple-3: #8e5cd9;
  --astro-c-purple-soft: rgba(159, 122, 234, 0.16);
  --astro-c-green-1: #3dd68c;
  --astro-c-green-2: #30a46c;
  --astro-c-green-3: #298459;
  --astro-c-green-soft: rgba(16, 185, 129, 0.16);
  --astro-c-yellow-1: #f9b44e;
  --astro-c-yellow-2: #da8b17;
  --astro-c-yellow-3: #a46a0a;
  --astro-c-yellow-soft: rgba(234, 179, 8, 0.16);
  --astro-c-red-1: #f66f81;
  --astro-c-red-2: #f14158;
  --astro-c-red-3: #b62a3c;
  --astro-c-red-soft: rgba(244, 63, 94, 0.16);
}

:root {
  --astro-c-bg: #ffffff;
  --astro-c-bg-alt: #f6f6f7;
  --astro-c-bg-elv: #ffffff;
  --astro-c-bg-soft: #f6f6f7;
}

.dark {
  --astro-c-bg: #1b1b1f;
  --astro-c-bg-alt: #161618;
  --astro-c-bg-elv: #202127;
  --astro-c-bg-soft: #202127;
}

:root {
  --astro-c-border: #c2c2c4;
  --astro-c-divider: #e2e2e3;
  --astro-c-gutter: #e2e2e3;
}

.dark {
  --astro-c-border: #3c3f44;
  --astro-c-divider: #2e2e32;
  --astro-c-gutter: #000000;
}

:root {
  --astro-c-text-1: rgba(255, 255, 245, 0.86);
  --astro-c-text-2: rgba(235, 235, 245, 0.6);
  --astro-c-text-3: rgba(235, 235, 245, 0.38);
}

:root {
  --astro-c-default-1: var(--astro-c-gray-1);
  --astro-c-default-2: var(--astro-c-gray-2);
  --astro-c-default-3: var(--astro-c-gray-3);
  --astro-c-default-soft: var(--astro-c-gray-soft);
  --astro-c-brand-1: var(--astro-c-indigo-1);
  --astro-c-brand-2: var(--astro-c-indigo-2);
  --astro-c-brand-3: var(--astro-c-indigo-3);
  --astro-c-brand-soft: var(--astro-c-indigo-soft);
  --astro-c-brand: var(--astro-c-brand-1);
  --astro-c-tip-1: var(--astro-c-brand-1);
  --astro-c-tip-2: var(--astro-c-brand-2);
  --astro-c-tip-3: var(--astro-c-brand-3);
  --astro-c-tip-soft: var(--astro-c-brand-soft);
  --astro-c-note-1: var(--astro-c-brand-1);
  --astro-c-note-2: var(--astro-c-brand-2);
  --astro-c-note-3: var(--astro-c-brand-3);
  --astro-c-note-soft: var(--astro-c-brand-soft);
  --astro-c-success-1: var(--astro-c-green-1);
  --astro-c-success-2: var(--astro-c-green-2);
  --astro-c-success-3: var(--astro-c-green-3);
  --astro-c-success-soft: var(--astro-c-green-soft);
  --astro-c-important-1: var(--astro-c-purple-1);
  --astro-c-important-2: var(--astro-c-purple-2);
  --astro-c-important-3: var(--astro-c-purple-3);
  --astro-c-important-soft: var(--astro-c-purple-soft);
  --astro-c-warning-1: var(--astro-c-yellow-1);
  --astro-c-warning-2: var(--astro-c-yellow-2);
  --astro-c-warning-3: var(--astro-c-yellow-3);
  --astro-c-warning-soft: var(--astro-c-yellow-soft);
  --astro-c-danger-1: var(--astro-c-red-1);
  --astro-c-danger-2: var(--astro-c-red-2);
  --astro-c-danger-3: var(--astro-c-red-3);
  --astro-c-danger-soft: var(--astro-c-red-soft);
  --astro-c-caution-1: var(--astro-c-red-1);
  --astro-c-caution-2: var(--astro-c-red-2);
  --astro-c-caution-3: var(--astro-c-red-3);
  --astro-c-caution-soft: var(--astro-c-red-soft);

  --astro-c-brand: #646cff;
  --astro-c-brand-light: #747bff;
  --astro-c-brand-lighter: #9499ff;
  --astro-c-brand-lightest: #bcc0ff;
  --astro-c-brand-dark: #535bf2;
  --astro-c-brand-darker: #454ce1;
  --astro-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

:root {
  --astro-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --astro-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --astro-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --astro-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --astro-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}
:root {
  --astro-z-index-footer: 10;
  --astro-z-index-local-nav: 20;
  --astro-z-index-nav: 30;
  --astro-z-index-layout-top: 40;
  --astro-z-index-backdrop: 50;
  --astro-z-index-sidebar: 60;
}
:root {
  --astro-font-family-base: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-optical-sizing: auto;
}

:root:where(:lang(zh)) {
  --astro-font-family-base: 'Punctuation SC', 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 960px) {
  :root {
    --astro-z-index-sidebar: 25;
  }
}

:root {
  --astro-layout-max-width: 1440px;
}

:root {
  --astro-header-anchor-symbol: '#';
}
:root {
  --docsearch-primary-color: var(--astro-c-brand);
  --docsearch-container-background: rgba(0, 0, 0, 0.7);
  --transition-color: color 0.5s;
  --search-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' strokeWidth='1.6' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='m14.386 14.386 4.088 4.088-4.088-4.088A7.533 7.533 0 1 1 3.733 3.733a7.533 7.533 0 0 1 10.653 10.653z'/%3E%3C/svg%3E");
}


/* DocSearch Theme Variables */
:root [class*='doc-search'] {
  --docsearch-modal-shadow: var(--docsearch-modal-shadow);
  --docsearch-footer-shadow: var(--docsearch-footer-shadow);
  --docsearch-logo-color: var(--docsearch-logo-color);
  --docsearch-hit-background: var(--docsearch-hit-background);
  --docsearch-hit-color: var(--docsearch-hit-color);
  --docsearch-hit-shadow: var(--docsearch-hit-shadow);
  --docsearch-primary-color: var(--astro-c-brand-1);
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-text-color: var(--astro-c-text-1);
  --docsearch-muted-color: var(--astro-c-text-2);
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
  --docsearch-modal-background: var(--astro-c-bg-soft);
  --docsearch-footer-background: var(--astro-c-bg);
}
