:root {
  --docsearch-primary-color: var(--astro-c-brand);
  --docsearch-container-background: rgba(0, 0, 0, 0.7);
  --transition-color: color 0.5s;
  --search-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' strokeWidth='1.6' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='m14.386 14.386 4.088 4.088-4.088-4.088A7.533 7.533 0 1 1 3.733 3.733a7.533 7.533 0 0 1 10.653 10.653z'/%3E%3C/svg%3E");
}

.nav-bar-search {
  display: flex;
  align-items: center;
}

.doc-search-button,
.doc-search-button-container {
  display: flex;
  align-items: center;
}

.doc-search-button {
  align-items: center;
  background: var(--docsearch-searchbox-background);
  border: 0;
  border-radius: 40px;
  color: var(--docsearch-muted-color);
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  margin-left: 16px;
  padding: 0 8px;
  user-select: none;
  transition: 
    background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s;
}

.doc-search-button:hover {
  background: var(--docsearch-searchbox-focus-background);
  box-shadow: var(--docsearch-searchbox-shadow);
  color: var(--docsearch-text-color);
  outline: none;
}

.search-icon {
  width: 1rem;
  height: 1rem;
}

.search-icon:not(.bg) {
  mask: var(--search-icon) no-repeat;
  mask-size: 100%;
  background-color: currentColor;
}

.doc-search-search-icon {
  position: relative;
  width: 16px;
  height: 16px;
  color: var(--astro-c-text-2);
  fill: currentColor;
  transition: var(--transition-color);
}

.doc-search-placeholder {
  display: none;
  margin-top: 2px;
  padding-right: 16px;
  font-size: 13px;
  font-weight: 500;
  color: var(--astro-c-text-2);
  transition: var(--transition-color);
}

.doc-search-button-keys {
  display: none;
  min-width: auto;
  border-radius: 4px;
  border: 1px solid var(--astro-c-divider);
  padding-left: 6px;
}

.doc-search-button-key {
  display: block;
  min-width: 0;
  width: auto;
  height: 22px;
  line-height: 22px;
  font-family: var(--astro-font-family-base);
  font-size: 12px;
  font-weight: 500;
  transition: color 0.5s, border-color 0.5s;
}

.doc-search-button-key:first-child::after {
  content: "Ctrl";
  font-size: 12px;
  letter-spacing: normal;
  color: var(--docsearch-muted-color);
}

.doc-search-button-key:last-child {
  border-left: none;
  padding: 0 6px 0 2px;
}

/* Media Queries */
@media (min-width: 768px) {
  .nav-bar-search {
    flex-grow: 1;
    padding-left: 24px;
  }

  .doc-search-search-icon {
    top: 1px;
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }

  .doc-search-placeholder {
    display: inline-block;
  }

  .doc-search-button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: auto;
    height: 40px;
    background-color: var(--astro-c-bg-alt);
  }

  .doc-search-button:hover {
    border-color: var(--astro-c-brand-1);
    background: var(--astro-c-bg-alt);
  }

  .doc-search-button-keys {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 960px) {
  .nav-bar-search {
    padding-left: 32px;
  }
}

/* DocSearch Theme Variables */
:root [class*="doc-search"] {
  --docsearch-modal-shadow: var(--docsearch-modal-shadow);
  --docsearch-footer-shadow: var(--docsearch-footer-shadow);
  --docsearch-logo-color: var(--docsearch-logo-color);
  --docsearch-hit-background: var(--docsearch-hit-background);
  --docsearch-hit-color: var(--docsearch-hit-color);
  --docsearch-hit-shadow: var(--docsearch-hit-shadow);
  --docsearch-primary-color: var(--astro-c-brand-1);
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-text-color: var(--astro-c-text-1);
  --docsearch-muted-color: var(--astro-c-text-2);
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
  --docsearch-modal-background: var(--astro-c-bg-soft);
  --docsearch-footer-background: var(--astro-c-bg);
}