.navMenu {
  display: none;
}
.navMenu .navBarMenuLink {
  display: flex;
  align-items: center;
  padding: 0 12px;
  line-height: var(--next-nav-height);
  font-size: 14px;
  font-weight: 500;
  color: var(--next-c-text-1);
  transition: color 0.25s;
}
.navMenu .navBarMenuButton {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: var(--next-nav-height);
  color: var(--next-c-text-1);
  transition: color 0.5s;
}
.navMenu .text {
  display: flex;
  align-items: center;
  line-height: var(--next-nav-height);
  font-size: 14px;
  font-weight: 500;
  color: var(--next-c-text-1);
  transition: color 0.25s;
}
.navMenu .text .cheveronDown {
  background-color: transparent;
  color: inherit;
  transform: rotate(90deg);
  margin-left: 4px;
  font-size: 14px;
  width: 1rem;
  height: 1rem;
}
.navMenu .navBarMenuLink:hover {
  color: var(--next-c-brand-lighter) !important;
}
@media (min-width: 768px) {
  .navMenu {
    display: flex;
  }
}
