.navBarTitle {
  --header-transition-background-color: transition: background-color 0.5s;
  flex-shrink: 0;
  height: calc(var(--astro-nav-height));
  transition: var(--heeder-transition-background-color);
}

.navBarTitle .title {
  display: flex;
  align-items: center;
  justify-content: 1px solid transparent;
  width: 100%;
  height: var(--astro-nav-height, 4rem);
  font-size: 1rem;
  font-weight: 600;
  color: var(--astro-c-text-1);
  transition: opacity 0.25s;
}
.navBarTitle .title .logo {
  margin-right: 5px;
  height: var(--astro-nav-logo-height);
}

@media (min-width: 960px) {
  .navBarTitle.title {
    flex-shrink: 0;
  }
}
